<mat-nav-list>
    <h1 class="sidenav-title">Sidenav Shit</h1>
    <mat-divider></mat-divider>
    <a mat-list-item routerLink="#map" (click)="onSidenavClose()">
        <mat-icon>map</mat-icon> <span class="nav-caption">Map</span>
    </a>
    <a mat-list-item routerLink="#countryInfo" (click)="onSidenavClose()">
        <mat-icon>info</mat-icon> <span class="nav-caption">Country Information</span>
    </a>
    <!--
    <a mat-list-item routerLink="#" (click)="onSidenavClose()">
        <mat-icon>account_balance</mat-icon><span class="nav-caption">Account Actions</span>
    </a>
    <mat-list-item [matMenuTriggerFor]="menu">
        <mat-icon>unfold_more</mat-icon>
        <a matline>Example</a>
    </mat-list-item>
    -->
</mat-nav-list>