mat-sidenav-container, mat-sidenav-content, mat-sidenav {
    height: 100%;
}
 
mat-sidenav {
    width: 250px;
}

mat-card {
    margin: 2em;
}

.selectCountryCaption {
    margin: 1%;
    margin-left: 2em;
}

mat-toolbar {
    margin-bottom: 20px;
  }
  
mat-toolbar > span {
    margin-left: 10px;
}